div{
    margin: 20px 0;
}

.content {
    background-color: antiquewhite;
    color: blueviolet;
    width: 400px;
    align-content: center;
    justify-items: center;
}

.list {
    width: 400px;
    list-style:disc;
    align-content: center;
    justify-items: center;
    margin: 0;
    padding: 20px 0;
}
